
<%= render "shared/jumbotron", header: "Mat Ivan Arquero Graphic Designs", tag_line: "Finished Projects" %>


<div class="row text-center">
	<div class="col-lg-4">
		
	<%= render "shared/cardwork", image: "art1.png", title: "Ateneo Badminton Team", body: "Ateneo Badminton Team's jersey at BACS MEET 2018 was designed by Mat Ivan Arquero Graphic Solutions!" %>

</div>

	</div>

	<div class="col-lg-4">
	<%= render "shared/cardwork", image: "art2.png", title: "UNECS Badminton Team", body: "UNECS Badminton Team's jersey for Ateneo Intramurals 2016-2018 was designed by Mat Ivan Arquero Graphic Solutions!" %>
	</div>
	</div>

	<div class="col-lg-4">
	<%= render "shared/cardwork", image: "art3.jpg", title: "Ateneo at CEACAL 2018", body: "Ceacal 2018 was held on October 2018 and the jerseys were designed by Mat Ivan Arquero Graphic Solutions" %>
	</div>
	</div>

<div class="row text-center">
	<div class="col-lg-4">
		
	<%= render "shared/cardwork", image: "art4.jpg", title: "ADAAF Finalist 2014", body: "Mat Ivan Arquero's digital image manipulation titled never hide hate and there's always your other side gathered awards at Ateneo Digital Arts Festival 2014" %>

</div>

	</div>

	<div class="col-lg-4">
	<%= render "shared/cardwork", image: "art5.jpg", title: "Ateneo Tactics Election 2019", body: "R_U_IN party list's ads for the party's campaign were designed by Mat Ivan Arquero Graphic Solutiions" %>
	</div>
	</div>

	<div class="col-lg-4">
	<%= render "shared/cardwork", image: "art6.jpg", title: "Intern Student's ID from Southern Luzon State University", body: "On the Job trainee ID's were designed and layout'ed by Mat Ivan Arquero graphic Solutions" %>
	</div>
	</div>


	
	</div>

	<div class="col-lg-4">
	
</div>
	</div>
</div>














