
<%= render "shared/jumbotron", header: "Mat Ivan Arquero Graphic Solutions", tag_line: "Where Perfection is the only Option!" %>


<div class="row text-center">
	<div class="col-lg-4">
		
	<%= render "shared/card", image: "pic1.jpg", title: "Need a design for something?", body: "Order now and get a discounted rate on your first order!", btn_text: "Order", link_text: "/designs" %>

</div>

	</div>

	<div class="col-lg-4">
	<%= render "shared/card", image: "des.jpg", title: "View my art!", body: "Get a snippet on our previous designs and works!", btn_text: "View finished designs!", link_text: "/works" %>
	</div>
	</div>

<div class="col-lg-4">
	<%= render "shared/card", image: "register.png", title: "Can't order? Be a member!", body: "Mat Ivan Arquero Graphic Solutions ensures quality is served to the best people. Help us provide world class designs. Be a part of our family and start now!", btn_text: "Be one of us", link_text: "/users/new" %>
	</div>
	</div>


	<div class="col-lg-4">
	<%= render "shared/card", image: "me.jpg", title: "Know me better!", body: "Know more about Mat Ivan Arquero and his life!", btn_text: "About me", link_text:  "/me" %>
	</div>
	</div>


	
	</div>

	<div class="col-lg-4">
	
</div>
	</div>
</div>














